
		.home{
			background: rgb(240, 217, 179, 0.8);
			background-repeat: no-repeat;
			width: 100%;
			height: 900px;
			text-align: center;
		}

		.jxn{
			padding-top: 30px;
			width: 520px;
			height: 190px;
		}

		.box1{
			width: 630px;
			height: 300px;
			padding-top: 15px;
			position: relative;
			top: 30px;
			left: 200px;
			background-color: rgb(81, 130, 222, 0.8);
			text-align: center;
			border-radius: 10px;
			font-family: 'Solitreo', cursive;
		}

		.zero{
			width: 160px;
			height: 230px;
			position: absolute;
			bottom: 14px;
			left: 130px;
			border-radius: 10px;
		}

		.chain{
			width: 160px;
			height: 230px;
			position: absolute;
			bottom: 14px;
			right: 130px;
			border-radius: 10px;
		}

		.rem{
			width: 90px;
			height: 140px;
			position: absolute;
			left: 15px;
			bottom: 60px;
		}

		.denji{
			width: 100px;
			height: 140px;
			position: absolute;
			right: 15px;
			bottom: 60px;
		}

		.box2{
			width: 630px;
			height: 300px;
			padding-top: 15px;
			position: relative;
			bottom: 285px;
			left: 1100px;
			background-color: rgb(81, 130, 222, 0.8);
			text-align: center;
			border-radius: 10px;
			font-family: 'Solitreo', cursive;
		}

		.vanilla{
			width: 250px;
			height: 200px;
			position: absolute;
			top: 65px;
			right: 190px;
			border-radius: 20px;
		}

		.nekko{
			width: 145px;
			height: 120px;
			position: absolute;
			bottom: 70px;
			right: 20px;
		}

		.miyamura{
			width: 140px;
			height: 180px;
			position: absolute;
			bottom: 50px;
			left: 20px;
		}

		.box3{
			width: 1000px;
			height: 150px;
			padding-top: 20px;
			position: relative;
			bottom: 200px;
			left: 465px;
			background-color: rgb(81, 130, 222, 0.8);
			text-align: center;
			font-family: 'Solitreo', cursive;
			border-radius: 10px;
			align-content: center;
			font-size: 15px;
		}

		.komi{
			width: 105px;
			height: 128px;
			position: absolute;
			left: 100px;
			bottom: 20px;
		}

		.sign{
			width: 250px;
			height: 50px;
			text-align: center;
			padding: 5px;
			margin-top: 20px;
			font-size: 25px;
			font-family: sans-serif;
			cursor: pointer;
			border-radius: 10px;
		}

		.sign:hover{
			background-color: #3198DF;
		}

		.sign a:link{
			text-decoration: none;
		}

		.sign a:visited{
			color: black;
		}

