@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans+JP:wght@400;900&display=swap');

.box1{
	padding: 0px;
	margin: 0px;
	background: rgb(240, 217, 179, 0.8);
	width: 100%;
	height: 950px;
	text-align: center;
}

.title{
	font-size: 38px;
	font-weight: bold;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	padding: 5px;
}



.textbox{
	display: flex;
	width: 80%;
	height: auto;
	background-color: rgb(112, 240, 170, 0.6);
	align-items: center;
	padding-right: 150px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 30px;
	text-align: left;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.textbox3{
	display: flex;
	width: 50%;
	height: auto;
	background-color: rgb(112, 240, 170, 0.6);
	align-items: center;
	padding-right: 150px;
	border-radius: 30px;
	text-align: left;
	margin-bottom: 15px;
}

.row{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 17px;
	border-radius: 30px;
}

.food{
	width: 300px;
	height: 200px;
	border-radius: 10px;
	float: left;
	padding-left: 50px;	
	padding-right: 30px;
}

.food2{
	width: 300px;
	height: 200px;
	border-radius: 10px;
	float: left;
	padding-left: 250px;	
	padding-right: 30px;
}

.food3{
	width: 300px;
	height: 200px;
	border-radius: 10px;
	float: left;
	padding-left: 200px;	
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}